body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
button{
    height: 50px;
    margin: 2px;
    font-size: 1.2em;
    border-style: none;
}
button:hover{
    color: rgb(255, 200, 200);
    background-color: #a52626;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}
.calculator{
    position: relative;
    top: 150px;
    margin: 0 auto;
    max-width: 300px;
}
.calcButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0 auto;
    background-color: #661919;
    padding: 10px;
}
.calcButtons > button:nth-child(17){
 
    grid-column: 1/3;
}
.operator{
    background-color: #f5d6d6;
}
.number{
    background-color: #db7070;
}
.userInput{
    position: relative;
    height: 80px;
    max-width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    background-color: #f5d6d6;
}
.calcButtons > button:nth-child(19){
    background-color: rgb(255, 125, 160);
}
.userEntry{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 5px;
    right:0;
}
.finalCalc{
    position: absolute;
    right:0;
    margin:5px;
    top:0;
    padding:0;
}